.whatsapp-float {
  position: fixed;
  width: 64px;
  height: 64px;
  bottom: 100px;
  right: 25px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #128c7e;
    transform: scale(1.1);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
  }
}

.whatsapp-icon {
  width: 35px;
  height: 35px;
}
