#how-process-work {
    position: relative;
    padding: 80px;
    overflow: hidden;

    .container {
        position: relative;
        padding: 0 12px;

        .title-section {
            h2 {
                font-size: clamp(28px, 3vw, 48px);
                font-weight: 600;
                line-height: 150%;
                letter-spacing: 0;
                text-transform: uppercase;
                position: relative;
                display: inline-block;
                background: var(--ternary-color);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;

                &::before {
                    content: attr(data-text);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: var(--gradient-accent);
                    background-size: 200% 100%;
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    -webkit-text-fill-color: transparent;
                    opacity: 0;
                    transition: opacity 0.4s ease-in-out;
                    animation: moveGradient 3s linear infinite;
                    pointer-events: none;
                }

                span {
                    background: var(--secondary-color);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    -webkit-text-fill-color: transparent;
                    position: relative;
                }
            }
            p {
                color: var(--para-color);
                font-size: clamp(14px, 1.25vw, 18px);
                font-weight: 400;
                line-height: 150%;
            }

            &:hover {
                h2 {
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }

        .process-items-section {
            .items-wrapper {
                .item {
                    .icon {
                        position: relative;
                        border-radius: 50%;
                        overflow: hidden;
                        padding: 16px;
                        border: 6px solid var(--ternary-color);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: var(--card-bg);
                        box-shadow: inset 10px 10px 6px 1px rgba(255, 255, 255, 0.099);
                        .icon-image {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            pointer-events: none;
                            user-select: none;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                        }
                        .icon-style-item {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            pointer-events: none;
                            user-select: none;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                        }
                    }

                    .label {
                        h4 {
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 150%;
                            letter-spacing: 0;
                            text-transform: capitalize;
                        }
                    }

                    .line {
                        width: 100%;
                        height: 1px;
                        background: var(--ternary-color-2);
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
